#translation-controls {
  text-align: center;
  margin-bottom: 20px;
}


/* Estilo para o botão "A" */
.botao-grande {
    font-size: 48px;
    background-color: #2196F3;
    color: #FFF;
}

/* Estilo para o botão "a" */
.botao-pequeno {
    font-size: 12px;
    background-color: #FF5722;
    color: #FFF;
}



#content {
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
}

img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

p {
  text-align: justify;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

a {
  color: #333;
  text-decoration: none;
}

/* Estilos do cabeçalho */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
  font-size: 36px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  font-weight: bold;
}

/* Estilos do conteúdo principal */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

a.btn:hover {
  background-color: #555;
}

.alimentos{
  text-align: center;
  padding: 8%;
}

.titulo{
  padding: 3%;
}